* {
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

html {
    background: url(img/Background_site.png) fixed;
}

body {
    max-width: 520px;
    color: #aaa;
    font-family: 'Roboto';
    font-size: 17px;
    margin: 0 auto;
}

a {
    color: hsl(141, 70%, 50%);
    text-decoration: none;
    font-weight: 500;
}

    a:hover, a:focus {
        color: hsl(141, 100%, 50%);
    }

#loginBlock, #inputForm, #header, #chatroom {
    max-width: 100%;
}

#header {
    text-align: center;
}

#userName, #message {
    display: inline-block;
    width: 70%;
    background: #444;
    color: white;
    font-family: 'Roboto';
    padding: 10px 8px 10px 8px;
    cursor: text;
    border-radius: 16px;
}

    #userName:hover, #message:hover {
        background: #4c4c4c;
    }

#loginBtn, #sendBtn {
    display: inline-block;
    width: 24%;
    background: #555;
    color: white;
    padding: 8px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: 600;
}

    #loginBtn:hover, #sendBtn:hover {
        background: #5c5c5c;
    }

#chatroom {
    display: block;
}

    #chatroom p {
        word-wrap: break-word;
        background: #2d2d2d;
        padding: 8px;
        margin: 4px;
        border-radius: 16px;
    }

        #chatroom p:hover {
            background: #333;
        }

    #chatroom b {
        color: #dc143c;
    }

        #chatroom b:hover {
            color: #ef395d;
        }

.time {
    font-size: 13px;
    display: block;
}

#loginBlock, #inputForm, #header, #chatroom {
    margin: 8px;
    padding: 16px;
    border-radius: 16px;
    background: rgba(33, 33, 33, 0.7);
}

center {
    display: none;
}
